/* Sección sobre mí */
.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 890px; /* Limita el ancho máximo */
  padding: 60px 0px;
  margin: 0 auto; /* Centra la sección */
}

/* Contenedor del contenido */
.about-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center;
  padding: 50px 20px;
}


/* Estilos del texto */
.about-text h2 {
  font-size: 32px;
  color: #9c9c9c;
  margin-bottom: 15px;
}

/* Contenedor de la imagen */
.about-image {
  display: flex;
  justify-content: center; /* Centra la imagen */
  margin: 20px 0; /* Espaciado arriba y abajo */
}

/* Imagen centrada */
.profile-pic {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}

/* Párrafos de texto */
.about-text p {
  font-size: 18px;
  color: #e2e2e2;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: left; /* Alinea el texto al centro */
}
/*contenedor para la imagen*/
.about-image-button {
  display: flex;
  justify-content: center; /* Centra la imagen */
  margin: 20px 0; /* Espaciado arriba y abajo */
}
/* Contenedor para el botón de descarga */
.cv-button-container {
  display: flex;
  justify-content: center; /* Centra el botón */
  margin-top: 20px;
}

/* Botón de descarga de CV */
.cv-button {
  display: inline-block;
  padding: 12px 25px;
  background-color: #0077b5;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.cv-button:hover {
  background-color: #005f8f;
}
