/* Sección sobre mí */
.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 890px; /* Limita el ancho máximo */
  padding: 60px 0px;
  margin: 0 auto; /* Centra la sección */
  transform: translateX(-50px);
}

/* Contenedor del contenido */
.about-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center;
  padding: 10px 0;
}

/* Estilos del texto */
.about-text h2 {
  font-size: 32px;
  color: #e4e4e4;
  margin-bottom: 15px;
  text-align: left;
}

/* Contenedor de la imagen */
.about-image {
  display: flex;
  justify-content: center; /* Centra la imagen */
  margin: 20px 0; /* Espaciado arriba y abajo */
}

/* Imagen centrada */
.profile-pic {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}

/* Párrafos de texto */
.about-text p {
  font-size: 18px;
  color: #cecece;
  
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Contenedor para la imagen */
.about-image-button {
  display: flex;
  justify-content: center; /* Centra la imagen */
  margin: 20px 0; /* Espaciado arriba y abajo */
}


.linea-horizontal {
  height: 3px; /* Grosor de la línea */
  background-color: rgba(216, 216, 216,0.2); /* Color de la línea */
  border-radius: 5px; /* Bordes redondeados */
  border: none; /* Sin borde */
  width: 100%; /* Ancho de la línea */
  margin: 10px 0; /* Centrar la línea */
}

.highlight {
  color: #1c96ca;
  font-weight: bold;
}


/* Responsive */
@media (max-width: 992px) {
  .about-section {
    max-width: 90%;
    transform: translateX(0);
    padding: 50px 20px;
  }

  .about-text h2 {
    font-size: 28px;
  }

  .about-text p {
    font-size: 16px;
  }

  .profile-pic {
    width: 150px;
    height: 150px;
  }

}


@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    padding: 30px 20px;
    transform: translateX(0px);
  }

  .about-text h2 {
    font-size: 24px;
  }

  .about-text p {
    font-size: 14px;
    margin: 10px 0;
  }

  .profile-pic {
    width: 140px;
    height: 140px;
    margin-bottom: 15px;
  }
}

@media (max-width: 576px) {
  .about-section {
    padding: 20px 15px;
    transform: translateX(0px);
  }

  .about-text h2 {
    font-size: 20px;
  }

  .about-text p {
    font-size: 12px;
    margin: 8px 0;
  }

  .profile-pic {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
  }

}
