header {
  background: rgba(0, 38, 255, 0.212);
  padding: 20px 0;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo img {
  width: 50px;
}

nav {
  text-align: center;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-links li {
  display: inline-block;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-color: #555;
  border-radius: 5px;
}

.social-links-container {
  display: flex;
  gap: 50px;  /* Aumentado el espacio entre los iconos */
}

.social-logo {
  color: white;
  text-decoration: none;
  font-size: 30px;  /* Tamaño inicial de los iconos */
  transition: color 0.3s ease, transform 0.3s ease;  /* Transición para el color y el tamaño */
}

.social-logo:hover {
  color: #fff;  /* Cambia el color del icono al pasar el ratón */
  transform: scale(1.2);  /* Aumenta el tamaño del icono un 20% */
}

.github {
  color: #333;
}

.linkedin {
  color: #0077b5;
}
