.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  min-height: 100vh; /* Ocupa toda la pantalla */
  padding: 50px 20px;
  gap: 40px; /* Espacio entre texto e imagen */
}

.home-content {
  max-width: 600px;
  flex: 1;
}

.profile-pic {
  width: 180px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

h1 {
  font-size: 36px;
  color: #bfd5ff;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  color: #7c7c7c;
  margin-bottom: 15px;
}

p {
  font-size: 18px;
  color: #ffffff;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Contenedor de los enlaces de redes */
.social-buttons {
  display: flex;
  justify-content: start;
  gap: 15px; /* Espacio entre enlaces */
  margin-top: 20px;
}

/* Estilos para los enlaces */
.social-link {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.1); /* Fondo transparente */
  padding: 8px 20px;
  border-radius: 20px;
  transition: background 0.3s ease, transform 0.2s ease;
}

/* Ajuste del tamaño del icono */
.social-link i {
  font-size: 20px;
}

/* Efecto hover */
.social-link:hover {
  background: rgba(255, 255, 255, 0.4); /* Hace el fondo más visible */
  transform: scale(1.08);
}

/* Colores específicos de redes */
.linkedin {
  color: #ffffff;
}

.github {
  color: #ffffff;
}

.email {
  color: #ffffff;
}



/* Botón "Sobre mí" en la parte inferior */
.about-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  border: 1px solid black;
  border-radius: 50px;
  transform: translateX(-50%);
  padding: 10px 20px;
  background:none;
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: background 0.3s ease;
}

.about-button:hover {
  background-color: #064b0f;
}

/* Responsive */
@media (max-width: 768px) {
  .home-section {
    flex-direction: column-reverse;
    text-align: center;
  }

  .profile-pic {
    width: 180px;
  }

  .social-buttons {
    justify-content: center;
  }

  .social-button {
    font-size: 16px;
  }
}

/* Estilo para el enlace de deslizar */
.scroll-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(150, 154, 167);
  font-size: 24px;
  animation: bounce 1.5s infinite ease-in-out;
  text-decoration: none;
}

/* Animación de rebote */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

/* Cambio de color en hover */
.scroll-down:hover {
  color: #0077b5;
}
