.projects-section {
  width: 100%;
  max-width: 890px;
  margin: 0 auto;
  padding: 60px 0px;
  transform: translateX(-50px);
}

.projects-title {
  font-size: 32px;
  color: #e2e2e2;
  margin-bottom: 30px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-card {
  display: flex;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  align-items: center;
  gap: 20px;
}

.project-image {
  width: 300px;
  border-radius: 8px;
  transition: transform 0.3s;
}

.project-info {
  flex: 1;
}

.project-info h3 {
  font-size: 22px;
  color: #fff;
}

.project-info p {
  font-size: 16px;
  color: #aaa;
  margin: 10px 0;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.tech-badge {
  background: #14385a;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 14px;
  color: #fff;
}

.buttons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.btn {
  background: rgba(80, 62, 62, 0.2);
  padding: 8px 14px;
  border: 1px solid rgba(255, 255, 255, 0.11);
  border-radius: 6px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: background 0.3s;
}

.btn:hover {
  background: #555;
}

.preview-btn {
  background: #0077B5;
}

.preview-btn:hover {
  background: #005f99;
}

.project-imagen-cuadro {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(0, 0, 0, 0.2);
  width: 300px;
  height: auto;
  overflow: hidden; /* Evita que la imagen sobresalga */
  border-radius: 8px;
  transition: transform 0.4s ease-in-out;
}

.project-image {
  position: relative;
  left: 15px;
  top: 15px;
  transition: transform 0.4s ease-in-out;
}

.project-imagen-cuadro:hover {
  transform: scale(1.01);
}

.project-imagen-cuadro:hover .project-image {
  transform: scale(1.05);
}