/* Sección de proyectos */
.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 890px; /* Limita el ancho máximo */
  padding: 60px 0px;
  margin: 0 auto; /* Centra la sección */
}

/* Contenedor de proyectos con límite de ancho */
.projects-container {
  max-width: 840px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* 2 columnas responsivas */
  gap: 20px;
  margin-top: 10px;
}

.project-card {
  background-color: #1e1e1e;
  max-width: 320px;
  padding: 10px;
  border-radius: 25px;
  color: #e2e2e2;
  transition: transform 0.3s ease;
}

/* Imagen de proyecto */
.project-image {
  width: 95%;
  height: 170px;
  object-fit: cover;
  border-radius: 25px;
  padding: 10px; /* Padding para que la imagen tenga espacio alrededor */
  transition: transform 0.3s ease;
}

.image-container {
  padding: 0px; /* Padding alrededor de la imagen */
}

.project-info {
  padding: 0px 20px;
  font-size: 17px;
}
.project-description {
  font-size: 17px;
  padding: 10px 0;
}

/* Contenedor para proyectos con scroll */
.projects-scroll-container {
  max-height: 850px; /* Limita la altura */
  overflow-y: scroll; /* Permite scroll solo vertical */
  margin-top: 20px;
  padding-right: 15px; /* Para evitar que el scroll se pegue al borde */
  scrollbar-width: thin; /* Para navegadores que no soportan ::-webkit-scrollbar */
  scrollbar-color: rgba(151, 124, 212, 0.425) rgba(255, 255, 255, 0.1); /* Color del thumb (morado) y del track (transparente) */
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  padding: 10px 10px;
  border-radius: 10px;
}

/* Estilo de las tecnologías */
.project-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tech-badge {
  background-color: #0077b5;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 13px;
  margin-top: 10px;
}

/* Efecto al pasar el ratón sobre la imagen */
.project-image:hover {
  transform: scale(1.05);
}


