* {
  margin: 0;
  padding: 0;
}

/* Estilo para el body */
body {
  
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  background: linear-gradient(to right bottom, #0f3460, #16213e, #17163e, #1a1a2e);

}
a {
  text-decoration: none;
}

